@media only screen and (max-width : 600px), (orientation:portrait)  {

    body {
        margin:150px 0 0;
    }

    #page-container > header {
        height: 150px;
    }

    #page-container > header img#nav_menu {
        position: absolute;
        top: 30px;
        right: 15px;
        width: auto;
        height: 90px;
        cursor: pointer;
    }

    #page-container > header img#nav_menu:active {
        background-color: #777;
    }

    #page-container > header h1 {
        position: absolute;
        width: 100%;
        float: none;
        font-size: 2.7em;
        bottom: .1em;
        left: 1.em;
    }

    #page-container > header nav {
        position: fixed;
        display: none;
        background-color: rgba(170, 170, 170, 0.8);
        margin-left: 0;
        left: 0;
        top: 150px;
        overflow-y: auto;
        width: 100%;
        height: calc(100% - 150px);
    }

    #page-container > header nav a {
        float: none;
        display: block;
        padding: 1em 0;
        font-size: 4em;
        width: 100%;
        text-decoration: none !important;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        background-color: #807F85;
    }

    #page-container > header nav a.active {
        background-color: #313131;
    }

    #page-container {
        height: calc(100% - 150px);
    }

    #targets h2 {
        font-size: 2.7em;
    }

    #targets div p {
        font-size: 2.2em;
    }

    .btn_target {
        width: 100%;
        padding: .4em 0;
        font-size: 4em;
    }

    /*
    *
    * circle button
    *
    */
    .switch_container label {
        width: 100%;
        display: block;
        border-radius: 50px;
        position: relative;
        margin-bottom: 4em;
    }

    .switch_container label span {
        height: 50%;
        padding-top: 5%;
    }

    .switch_container {
        top: 30%;
    }

    /*
    *
    * form
    *
    */

    #targets .settings {
        width: 100%;
        left: 0;
        transform: translate(0, 0);
    }

    #targets fieldset {
        width: 100%;
    }

    #targets legend {
        font-size: 2.5em;
    }

    #targets form label, #targets .settings label, #targets .settings span {
        font-size: 2.2em;
    }

    #targets input[type=number], textarea {
        padding: 5px 5px 5px 5px;
        font-size: 2.2em;
    }

    #targets input[type=radio] {
        font-size: 2.2em;
        width: .8em;
        height: .8em;
    }

    #targets input[type=checkbox] {
        width: 2em;
        height: 2em;
    }

    #targets select {
        font-size: 2.2em;
    }

    .btns_speed label, .btns_speed output {
        font-size: 2.2em !important;
    }

    .btns_speed input[type=range] {
        width: 20em;
    }

    div.vcard {
        font-size: 2.2em;
    }

    .videoDiv {
        float: none;
    }

    .videoDiv video {
        width: 100%;

    }

}


